* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-left: 15%;
	padding-right: 15%;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	/* top: 100px; */
}
.title-area{
	width: 100%;
	height: 70%;
}

.title-area h2 {
	font-size: 70px;
	font-family: poppins;
	color: #fff;
	text-align: center;
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	left: 50%;
}

svg {
	color: rgb(255, 230, 0);
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: auto;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

h2{
	font-weight: bold;
}


p{
    text-align:left;
    font-size:1.2em;
	font-weight:450;
	font-family: poppins;

}
p.thick {
	font-weight: bold;
	font-size:1.2em;

}

ul.a {
	list-style-type: circle;
	text-align:left;
    font-size:1.2em;
	font-family: poppins;

}

h4{
	text-align:left;
	font-size:1.5em;
}

.title {
	font-size: 1.5rem;
	text-align: left;
	font-weight: bold;
	/* border-bottom: solid 2px; */
}
ul li {
	padding-left: 20%;
	list-style: none;
}

img {
	width: 100%;
  	height: auto;  
}

.nav-tab{
	padding-top: 10px;
	font-family: poppins;
	font-weight: bold;
	font-size: 1.5em;
	color: #262626!important;
}

a.btn {
	font-weight: 600;
	border: solid ;
	outline: 0;
	padding: 0.3rem 1.1rem;
	font-size: 1.2rem;
	letter-spacing: .08rem;
	border-radius: 5%;
	position: relative;
	cursor: pointer;
}
a.btn:hover {
	background-color: #262626;
	color: #fff;
	border: solid #262626;
	border-radius: 5%;
	font-weight: 520;
}
@media(max-width: 700px){
	.banner-area{
		height: 160px;
		width: 100%;
		top: 80px;
		position: fixed;

	}
	
	.content-area {
		width: 100%;
		position: relative;
		top: 240px;
		background: #ebebeb;
		height: auto;
	}
	.wrapper{
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding-left: 15%;
		padding-right: 15%;
	}
	.wrapper h2{
		font-size:1.8em;
	}
	p{
		text-align: justify;
	}
	.nav-tab{
		font-size: 1.3em;
	}
}
@media screen and (max-width: 1000px) and (min-width:700px){
	.banner-area{
		height: 350px;
		top: 100px;
		position: fixed;
		width: 100%;

	}
	
	.content-area {
		width: 100%;
		position: relative;
		/* top: 240px; */
		background: #ebebeb;
		height: auto;
	}
}
@media screen and (max-width: 1232px) and (min-width:1000px){
	.banner-area{
		height: 300px;
		top: 100px;
		position: fixed;
		width: 100%;

	}
	
}
