.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image: linear-gradient(rgba(59, 60, 61, 0.452), rgba(59, 61, 63, 0.322)),url(https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}


* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
	padding-left: 5%;
	padding-right: 5%;
	height:auto;
	padding-top:2em;
	padding-left: 15%;
	padding-right: 15%;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}


.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: auto;
	
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
h2{
	font-weight: bold;
}

p{
    text-align:left;
    font-size:1.25em;
}

.title-area{
	width: 100%;
	height: 70%;
}
.title-area h2 {
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	left: 50%;
	font-size: 70px;
	font-family: poppins;
	color: #fff;
}

  
  /* * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  } */
  
.avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url("avataaars.svg");
    /* make a square container */
    width: 180px;
    height: 180px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
	background-color: rgb(85, 150, 246);

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
	
}
.avatar-f {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url("avataaars-f2.svg");
    
    /* make a square container */
    width: 180px;
    height: 180px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
	background-color: rgb(85, 150, 246);

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
	padding-left: 5%;
	padding-left: 5%;
}

.card-f{
	border: solid #262626;
	border-radius: 0.5em;
	width: 220px;
	height: 330px;
	background-color: #ebebeb;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 5%;
	padding-bottom: 5%;
	transform: rotate(8deg);
  
}
.card-f p{
	font-family: poppins;
	color: #262626;
	text-align:center;

}
h3{
	font-weight: bold;
	font-size:1.8em;
	border-style: solid;
	border-color: black;
	box-shadow: #000 1px 1px 0,
	#000 2px 2px 0,
	#000 3px 3px 0,
	#000 4px 4px 0,
	#000 5px 5px 0,
	#000 6px 6px 0,
	#000 7px 7px 0,
	#000 8px 8px 0;

}
h5{
	font-family: poppins;
	color: #262626;
	text-align:center;
	font-size:2em;

}

.card-deck{
	padding-left: 1%;
	
}
.col{
	padding-top: 3em;
}
p span{
	font-size: 1rem;
}


@media(max-width: 700px){
	.banner-area{
		height: 160px;
		top: 80px;
	}
	.banner-area h2 {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
	  	font-size: 40px;
		font-family: poppins;
		color: #fff;
		text-align: center;
	}
	.content-area {
		width: 100%;
		position: relative;
		top: 240px;
		background: #ebebeb;
		height: auto;
	}
	.wrapper{
		width: auto;
		height: auto;
		margin: 0 auto;
		padding-left: 15%;
		padding-right: 15%;
	}
	.wrapper h2{
		font-size:1.8em;
	}
	h3{
		font-size:1.8em;
	}
	.row{
		width: auto;
	}
	.a li{
		text-align: justify;
		font-size: 1em;
	}
	
	li.thick{
		font-size: 3em!important;
	}
}
