<body>

  <div class="box-area">

    <div class="banner-area">
      <div class="title-area">
        <h2>實驗室成員</h2>
      </div>
    </div>
    
    <div class="content-area">
      <div class="container">
        <div class="row">
          <div class="wrapper">
            

            <h2><div data-aos="fade-down" data-aos-duration="1000" data-aos-once="true">
              目前成員</div></h2>

            <div *ngIf="proJobStudent.length>0">
              <h3>博士班</h3>
              <div class="container-fluid">

              <div class="card-deck">

                <div class="row row-cols-1 row-cols-md-3 g-4" >

                <div *ngFor="let student of proJobStudent">

                    <div class="col">
                      <div class="card-f">
                        <div [ngClass]="student.male == true ? 'avatar': 'avatar-f'">
                        </div>
                          
                          <p>
                            {{student.index}}
                            {{student.name}}<br>
                            研究方向：{{student.field}}<br>
                            <span>{{student.uni}}</span>

                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <br>
            <br>
            <div *ngIf="masterStudent.length>0">
              <h3>碩士班</h3>
              <div class="container-fluid">

              <div class="card-deck">

                <div class="row row-cols-1 row-cols-md-3 g-4" >

                <div *ngFor="let student of masterStudent">

                    <div class="col">
                      <div class="card-f">
                        <div [ngClass]="student.male == true ? 'avatar': 'avatar-f'">
                        </div>
                          
                          <p>
                            {{student.index}}
                            {{student.name}}<br>
                            研究方向：{{student.field}}<br>
                            <span>{{student.uni}}</span>

                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <br>
            <br>

            <div *ngIf="masterJobStudent.length>0">
              <h3>碩士在職專班</h3>
              <div class="container-fluid">

              <div class="card-deck">

                <div class="row row-cols-1 row-cols-md-3 g-4" >

                <div *ngFor="let student of masterJobStudent">

                    <div class="col">
                      <div class="card-f">
                        <div [ngClass]="student.male == true ? 'avatar': 'avatar-f'">
                        </div>
                          
                          <p>
                            {{student.index}}
                            {{student.name}}<br>
                            研究方向：{{student.field}}<br>
                            <span>{{student.uni}}</span>
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <br>
            <br>

            <div *ngIf="bachelorStudent.length>0">
              <h3>四技</h3>
              <div class="container-fluid">

              <div class="card-deck">

                <div class="row row-cols-1 row-cols-md-3 g-4" >

                <div *ngFor="let student of bachelorStudent">

                    <div class="col">
                      <div class="card-f">
                        <div [ngClass]="student.male == true ? 'avatar': 'avatar-f'">
                        </div>
                          <p>
                            {{student.index}}
                            {{student.name}}<br>
                            研究方向：{{student.field}}<br>
                            <span>{{student.uni}}</span>
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <br>
            <br>
            
            <br>
            <br>





          </div>
        </div>

      </div>
    </div>
  </div>

</body>
<app-footer></app-footer>