* {
    margin: 0;
	padding: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.4em;
    font-family: poppins;
    border-bottom: 2px solid #fff;
    padding-left: 0.5em;
    }

.wrapper {
	margin: 0 auto;
    background-color: #262626;
    width: 100%;
	position: relative;
	top: 450px;
	height: auto;
}

.footer-logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.footer-logo a {
	text-decoration: none;
	font-size: 2em;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}

.title{
    font-size:1.5em;
    font-family: poppins;
	color: #fff;
	top: 600px;
}

.fas{
    color: #fff;
}
.text-white{
    font-size: 1.1em;
}
img{
	width: 100px !important;
	padding-right: 0;
}
@media(max-width: 700px){
    img{
		width: 78px !important;
		padding-right: 0;
	}
	.navbar-toggler{
		size: 1px !important;
	}
	.navbar{
		padding-right: 3%;
		padding-left: 3%;
	}

	.title{
		color: #fff;
		font-size: 1.2em;
		font-family: poppins;
		text-align: center;
	}
    .mb-4 p{
        font-size: 1em;
    }
    h2{
        font-size: 1.3em;
    }
    .wrapper{
        top: 240px;

    }
}