<body>

  <div class="box-area">

    <div class="banner-area">
      <div class="title-area">

        <h2>實驗室介紹</h2>
      </div>
    </div>
    <div class="content-area">
      <div class="container">
        <div class="row">
          <div class="wrapper">
            <h2><div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
              關於我們</div></h2>
            <p>物聯網(IoT)技術的普及逐漸深入到人們的日常生活中，打造成為各種智慧
              設備與應用情境，大到智慧城市、小至智慧居家,已經漸漸潛移默化人們的食衣
              佳行育乐的各種面向。</p>


            <p>「科技始終来至於人性」(Humanechnology)，有鑒於此，結合物聯網(IT)與人工智慧(AI)之後，物聯網(IoT)就具備智慧學習的能力，
              能夠提供人們客製化服務的最佳體驗,滿足各種人性化的需求。人工智慧(AI)與物聯網(IoT)彼此間更為緊密,兩者融合而出现的新應用型態『智慧物聯網』(AIoT);
              本實驗室的研究領域以智慈物聯網，以AIoT為核心，結合通訊、雲端運算、大數據與人工智慈等技術來完成相關領域的研究，相關的議題如下:</p>
            <br>
            <div class="title">
              # 智慧農業化
            </div>
            <ul class="a">
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>人機協同智慧機具</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>產程決策支援系統</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>生產履歷與推撥服務系統化</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>最佳化設施研發</li>


            </ul>
            <br>
            <div class="title">
              # 智慧醫療化
            </div>


            <ul class="a">
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>高光譜排遺檢測系統</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>情緒壓力檢測系統</li>
            </ul>
            <br>
            <div class="title">
              #
              6G 通訊
            </div>
            <ul class="a">
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>低軌道立方衛星通訊系統</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>水下通訊系統</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>軌道通訊系統</li>
            </ul>
            <br>
            <div class="title">
              # 車聯網
            </div>
            <ul class="a">
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>CMS路側安全警示系統</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>R2P行人安全警示系統</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>OBU車內安全警示系統</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>即時車路資訊監控與管理系統</li>


            </ul>
            <br>
            <br>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>