<body>

	<div class="box-area">

		<!-- <app-professor></app-professor> -->
		<div class="banner-area">
			<div class="title-area">
			<h2>指導教授</h2>
			</div>
		</div>

		<div class="content-area">
			<div class="container">
				<div class="row">
					<div class="wrapper">
						<br>
						<div class="avatar"></div>
						<div data-aos="fade-down" data-aos-duration="1000" data-aos-once="true">
						<h2>
							吳庭育<br>TIN-YU WU</h2>

						<a class="center"> Professor at Department of Computer Science and Information
							Engineering,
							<br>National National Pingtung University of Science and Technology<br>AIoT Lab.(智慧物聯網實驗室)
						</a>
					</div>
						<br>
						<br>
						<br>
						<h3>BIOGRAPHY</h3>
						<br>
						<p>Tin-Yu Wu currently works as an Professor in the Department of Computer Science &
							Information Engineering, National Pingtung University of Science and Technology, Pingtung, Taiwan. He received his M.S. and Ph.D.
							degrees in the Department of Electrical Engineering, National Dong Hwa University, Hualien,
							Taiwan in 2000 and 2007 respectively. His research interests focus on the Big Data, Cloud
							Computing, IoTs and Mobile Computing.
						</p>
						<br>
						<h3>EXPERIENCES</h3>
						<br>

						<ul class="a">
							<li>國立屏東科技大學資訊管理系 教授</li>
							<li>國立宜蘭大學資訊工程學系 教授</li>
							<li>國立宜蘭大學資訊工程學系 副教授</li>
							<li>國立宜蘭大學圖書資訊館資訊網路組 組長</li>
							<li>國立宜蘭大學資訊工程學系 助理教授</li>
							<li>淡江大學電機工程學系 助理教授</li>
							<li>義守大學資訊工程學系 助理教授</li>
							<li>國立東華大學企業管理學系 兼任講師</li>
							<li>國立東華大學電算中心作業組 組長</li>
						</ul>
						<br>
						<br>
						<h3>RESEARCH AREAS</h3>
						<br>

						<ul class="a">
							<li>大數據挖礦與分析(Big Data Mining and Analytics)</li>
							<li>大數據與雲端運算之MapReduce技術(Big Data Infrastructure, MapReduce and Cloud Computing)</li>
							<li>非關聯式資料資料庫(NoSQL)技術與大數據分析(NoSQL Data Stores and DB Scalability)</li>
							<li>大數據與分散式系統(Distributed File Systems for Big Data)</li>
							<li>感測網路、社交網路與大數據應用(Sensor Network, Social Network and Big Data)</li>
						</ul>
						<br>
						<br>

						<h3>PUBLICATION</h3>
						<br>
						<p><a class="thick">[1]</a>Tin-Yu Wu, Mohammad S. Obaidat, Hung-Lin Chan, "QualityScan Scheme for Load Balancing
							Efficiency in Vehicular Ad Hoc Networs(VANETs)", Journal of Systems and Software, Vol.
							104,pp.60-68,February 2015.(SCI/EI,JCR 2013:IF=1.245)
							<br>
							<br>
							<a class="thick">[2]</a>Wei Kuang Lai, Chih Kun Tai, Tin-Yu Wu, Alagan Anpalagan, Jian Zhi Chen, "PBMP:
							Priority-Based Multi-path Packet Routing for Vehicular Ad Hoc Network System in City
							Environment", Transactions on Emerging Telecommunications Technologies, DOI: 10.1002/ett.
							2909, November2014 (SCI/EI, JCR 2013: IF=1.354)
							<br>
							<br>
							<a class="thick">[3]</a>Yan Sun, Tin-Yu Wu, Xinwei Liu, and Mohammad S. Obaidat, "Multi-layered Impact Evaluation
							Model for Attacking Missions", IEEE System Journal, DOI:10.1109/JSYST.2014.2344048 ,
							September 2014. (SCI/EI, JCR 2013: IF=1.746)
							<br>
						</p>
						
						
							<button *ngIf="!isShow" (click)="isShow=true">展開內容⚡</button>
							<div *ngIf="isShow">
								<p><a class="thick">[4]</a>Yan Sun, Tin-Yu Wu, Guotao zhao, and Mohsen Guizani, "Efficient Rule Engine for Smart
									Building Systems", IEEE Transactions on Computers, DOI10.1109/TC.2014.2345385, August 2014.
									(SCI/EI, JCR 2013: IF=1.473)
									<br>
									<br>
									<a class="thick">[5]</a>Tin-Yu Wu, Cheng-Han Lin, "Low-SAR Path Discovery by Particle Swarm Optimization
									Algorithm in Wireless Body Area Networks", IEEE Sensors Journal, Vol. 15, No. 2, pp.928-936,
									February 2015. (SCI/EI, JCR 2013: IF=1.852)
									<br>
									<br>
									<a class="thick">[6]</a>Tin-Yu Wu, Alagan Anpalagan, Wei-Tsong Lee, and Ya-Chun Li, "Variable Cyclic Prefix for
									Contention-based Wireless Access in OFDM-based Vehicular Communication Systems",Wireless
									Personal Communications (WPC), Vol. 77, Issue 3, pp.1905-1922, August 2014.. (SCI/EI, JCR
									2013: IF=0.979)
									<br>
									<br>
									<a class="thick">[7]</a>Tin-Yu Wu, Wei-Tsong Lee, Nadra Guizani and Tzu-Ming Wang, "Incentive mechanism for P2P
									file sharing based on social network and game theory", Journal of Network and Computer
									Applications(JNCA), Vol. 41, pp.47-55, May 2014. (SCI/EI, JCR 2013: IF=1.772)
									<br>
									<br>
									<a class="thick">[8]</a>Tin-Yu Wu, Jeng-Shyang Pan, and Chia-Fan Lin, "Improving Accessing Efficiency of Cloud
									Storage Using De-duplication and Feedback Schemes", IEEE Systems Journal, Vol. 8, Number 1,
									pp. 208-218, March 2014. (SCI/EI, JCR 2013: IF=1.746)
									<br>
									<br>
									<a class="thick">[9]</a>Tin-Yu Wu, Sghaier Guizani, Wei-Tsong Lee, and Po-Chang Huang, "An Enhanced Structure of
									Layered Forward Error Correction and Interleaving for Scalable Video Coding in Wireless
									Video Delivery", IEEE Wireless Communications Magazine, Vol. 20, No. 4, August 2013.
									(SCI/EI, JCR 2013: IF=6.524)
									<br>
									<br>
									<a class="thick">[10]</a>Tin-Yu Wu, Guan-Hsiung Liaw, Sing-Wei Huang, Wei-Tsong Lee, Chung-Chi Wu, "A GA-based
									Mobile RFID Localization Scheme for Internet of Things", Journal of Personal and Ubiquitous
									Computing, Vol. 16, Issue 3, pp. 245-258, March 2012. (SCI/EI, JCR 2013: IF=1.616)
									<br>
									<br>
									<a class="thick">[11]</a>Tin-Yu Wu, Yan-Bo Wang, and Wei-Tsong Lee, "Mixing Greedy and Predictive approaches to
									Improve Geographic Routing for VANET", Wireless Communications and Mobile Computing (WCMC),
									Vol. 12, Issue 4, pp. 367-378, March 2012. (SCI/EI, JCR 2013: IF=1.291)
									<br>
									<br>
									<a class="thick">[12]</a>Tin-Yu Wu, S. Guizani, Wei-Tsong Lee, and Kuo-Hung Liao, "Improving RSU service time by
									Distributed Sorting Mechanism", Ad Hoc Networks, Vol. 10, Issue 2, pp. 212-221, March 2012.
									(SCI/EI, JCR 2013: IF=1.943)
									<br>
									<br>
									<a class="thick">[13]</a>Tin-Yu Wu, Wei Chen, Wei-Tsong Lee, and Yong-Ping Huang, "Improving Handoff Efficiency
									by IS-FMIPv6 Based on IEEE 802.21", Concurrency and Computation: Practice and Experience,
									Vol. 24, Issue 4, pp. 369-380, March 2012.(SCI/EI, JCR 2013: IF=0.784)
									<br>
									<br>
									<a class="thick">[14]</a>I-Ju Liao, Tin-Yu Wu, Jen-Wen Ding, and Wei-Tsong Lee, "A Novel 3D Streaming Protocol
									Supported Multi Mode Display", Journal of Networking and Computer Applications (JNCA), Vol.
									34, Issue 5, pp. 1509-1517, September 2011. (SCI/EI, JCR 2013: IF=1.772)
									<br>
									<br>
									<a class="thick">[15]</a>Tin-Yu Wu, and Wei-Fang Weng, "Reducing handoff delay of wireless access in vehicular
									environments by artificial neural network-based geographical fingerprint", IET
									Communications, Vol. 5, Issue 4, pp. 542-553, March 2011. (SCI/EI, JCR 2013: IF=0.72)
									<br>
									<br>
									<a class="thick">[16]</a>Jen-Wen Ding, D.J. Deng, Tin-Yu Wu, H.H. Chen, "Quality-Aware Bandwidth Allocation for
									Scalable On-Demand Streaming in Wireless Networks", IEEE Journal on Selected Areas in
									Communications, Vol. 28, No. 3, pp. 366-376, April 2010. (SCI/EI, JCR 2013: IF=4.138)
									</p>
					<button (click)="isShow=false">收回內容⚡</button>
						</div>
						
						<br>
						<br>
						<br>
						<h3>RESEARCH PROJECTS</h3>
						<br>
						<h4>A.Project Investigator(計畫主持人)</h4>
            <ul class="a">
                <br>
                <li>
                    <a class="thick">110年度科技部計畫「量子星空地一體化6G行動網路水下網路通訊研究」</a><br>計畫主持人、執行期間2021/8/1~2022/07/31、MOST 110-2221-E-020-023
                </li>
                <br>
                <li>
                    <a class="thick">109年教育部智慧聯網技術與應用人才培育計畫</a><br>智慧聯網技術課程推廣計畫「雲端運算與行動計算」-課程主持人、執行期間2020/8/1~2021/6/30
                </li>
                <br>
                

                <li>
                    <a class="thick">108年度科技部產學合作研究計畫「獨立型綠能智慧電力監控與高效能傳輸系統開發」</a><br>計畫主持人、執行期間2019/11/01~2020/10/31、MOST 108-2622-E-197-007 -CC3
                </li>
                <br>
                <li>
                    <a class="thick">107年教育部-行動寬頻課程推廣計畫</a><br>「深度學習」-課程主持人、執行期間2018/12/1~2020/01/31
                </li>
                <br>
                <li>
                    <a class="thick">107年度科技部產學合作研究計畫「雲端助聽器線上即時適配與體驗互動系統開發」</a><br>計畫主持人、執行期間2018/11/1~2019/10/31、MOST 107-2622-E-197 -008 -CC3
                </li>
                <br>
                <li>
                    <a class="thick">107年度、108年度、109年度科技部計畫「基於深度學習之後5G行動網路－子計畫五</a><br>基於深度學習型後5G行動網路干擾避免與管理研究」-計畫主持人、執行期間2018/8/1~2021/07/31、MOST 107-2221-E-197 -007 -MY3
                </li>
                <br>
                <button *ngIf="!isShow" (click)="isShow=true">展開內容⚡</button>
						<div *ngIf="isShow">
                <div *ngFor="let projectA of projectsA">
                    <li>
                        <a class="thick">{{projectA.title}}</a><br>{{projectA.details}}
                    </li>
                    <br>
                    
                </div>
                <button (click)="isShow=false">收回內容⚡</button>
            </div>
                
            </ul>
            <br>
            <br>
            <h4>B.Project Co-Investigator(計畫偕同主持人或參與人員)
            </h4>
            <br>
            <ul class="a">
                <li>
                    <a class="thick">108年度、109年度科技部計畫「松露新興產業最後一哩路-智慧裝置之開發與應用」</a><br>協同主持人、執行期間2019/10/1~2021/09/30、MOST 108-2321-B-197-004-
                </li>
                <br>
                <li>
                    <a class="thick">107年度科技部計畫「松露新興產業最後一哩路-智慧裝置之開發與應用」</a><br>協同主持人、執行期間2018/07/01~2019/06/30、MOST 107-2321-B-197-004
                </li>
                <br>
                <li>
                    <a class="thick">107年教育部-資通訊軟體創新人才推升推廣計畫</a><br>「雲端運算分散式平台AI應用」-協同主持人、執行期間2018/02/1~2019/1/31
                </li>
                <br>
                <button *ngIf="!isShow" (click)="isShow=true">展開內容⚡</button>
                <div *ngIf="isShow">
                <div *ngFor="let projectB of projectsB">
                    
                    <li>
                        <a class="thick">{{projectB.title}}</a><br>{{projectB.details}}
                    </li>
                    <br></div>
                    <button (click)="isShow=false">收回內容⚡</button>

                </div>
            </ul>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<app-footer></app-footer>