* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	height: auto;
	margin: 0 auto;
	padding-left: 15%;
	padding-right: 15%;

}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image: linear-gradient(rgba(59, 60, 61, 0.452), rgba(59, 61, 63, 0.322)),url(https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.title-area{
	width: 100%;
	height: 70%;
}
.title-area h2 {
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	left: 50%;
	font-size: 70px;
	font-family: poppins;
	color: #fff;
}

.layer{
	position: relative;
	top: 260px;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: auto;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	line-height: 30px;
	text-align:left;
    font-size:1.2em;
}

h2{
	font-weight: bold;
}

p.thick {
	font-weight: bold;
	font-size:1.2em;

}
li.thick{
	font-size:1.2em !important;
	font-weight: bold;

}

h3{
	font-weight: bold;
	font-size:2em;
	border-style: solid;
	border-color: black;
	box-shadow: #000 1px 1px 0,
	#000 2px 2px 0,
	#000 3px 3px 0,
	#000 4px 4px 0,
	#000 5px 5px 0,
	#000 6px 6px 0,
	#000 7px 7px 0,
	#000 8px 8px 0;

}
ul.a {
	list-style-type: circle;
	text-align:left;
    font-size:1.2em;
	font-family: poppins;

}

h4{
	font-family: poppins;
	color: #262626;
	text-align:center;
	font-size:1.8em;
	font-weight: bold;
	border-bottom: solid #262626;
	border-top: solid #262626;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

}

.thick{
	font-weight: bold;	
}
.center{
	text-align: center;
	font-size:1.2em;
}

.avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url("avatar.jpg");    
    /* make a square container */
    width: 180px;
    height: 180px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
	background-color: rgb(85, 150, 246);

    /* center the image vertically and horizontally */
    background-position: center center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button {
	font-weight: 600;
	border: solid ;
	outline: 0;
	padding: 0.3rem 1.1rem;
	font-size: 1.2rem;
	letter-spacing: .08rem;
	border-radius: 5%;
	position: relative;
	cursor: pointer;
  }
button:hover {
	background-color: #262626;
	color: #fff;
	border: solid #262626;
	border-radius: 5%;
	font-weight: 520;
}

@media(max-width: 700px){
	.banner-area{
		height: 160px;
		top: 80px;
	}
	.banner-area h2 {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
	  	font-size: 40px;
		font-family: poppins;
		color: #fff;
		text-align: center;
	}
	.content-area {
		width: 100%;
		position: relative;
		top: 240px;
		background: #ebebeb;
		height: auto;
	}
	.wrapper{
		width: auto;
		height: auto;
		margin: 0 auto;
		padding-left: 15%;
		padding-right: 15%;
	}
	.wrapper h2{
		font-size:1.8em;
		border-bottom: solid #262626;
	}
	h3{
		font-size:1.8em;
	}
	.row{
		width: auto;
	}

	.wrapper p{
		text-align: justify;
		
	}
	.a li{
		text-align: justify;
		font-size: 1em;
	}
	
	li.thick{
		font-size: 3em!important;
	}
}