<body>

  <div class="box-area">

    <div class="banner-area">
      <div class="title-area">

        <h2>實驗室成員</h2>
      </div>
    </div>
    <div class="content-area">
      <div class="container">
        <div class="row">
          <div class="wrapper">

            <h2>
              <div data-aos="fade-down" data-aos-duration="1000" data-aos-once="true">
                歷年成員</div>
            </h2>
            <ng-container multi=true *ngFor="let listInfo of studentList">

              <mat-accordion class="custom-accordion">
                <mat-expansion-panel *ngFor="let student of listInfo.student.proStudent">
                  <mat-expansion-panel-header>
                    <div class="col"><strong>
                        {{student.name}}</strong>
                      <div ng-if="student > 0">
                      </div>
                      畢業論文：{{student.title}}
                    </div>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    <div class="col">大學： {{student.uni}}
                      <div ng-if="student > 0">
                      </div>{{student.year}}年{{student.field}}畢業
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel *ngFor="let student of listInfo.student.proJobStudent">
                  <mat-expansion-panel-header>
                    <div class="col"><strong>
                        {{student.name}}</strong>
                      <div ng-if="student > 0">
                      </div>
                      畢業論文：{{student.title}}
                    </div>
                  </mat-expansion-panel-header>

                  <mat-panel-description>
                    <div class="col">大學： {{student.uni}}
                      <div ng-if="student > 0">
                      </div>{{student.year}}年{{student.field}}畢業
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel *ngFor="let student of listInfo.student.masterStudent">
                  <mat-expansion-panel-header>
                    <div class="col"><strong>
                        {{student.name}}</strong>
                      <div ng-if="student > 0">
                      </div>
                      畢業論文：{{student.title}}
                    </div>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    <div class="col">大學：{{student.uni}}
                      <div ng-if="student > 0">
                      </div>{{student.year}}年{{student.field}}畢業
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel>
                <div ng-if="student > 0">
                </div>
                <mat-expansion-panel *ngFor="let student of listInfo.student.masterJobStudent">
                  <mat-expansion-panel-header>
                    <div class="col"><strong>
                        {{student.name}}</strong>
                      <div ng-if="student > 0">
                      </div>
                      畢業論文：{{student.title}}
                    </div>
                  </mat-expansion-panel-header>

                  <mat-panel-description>
                    <div class="col">大學： {{student.uni}}
                      <div ng-if="student > 0">
                      </div>{{student.year}}年{{student.field}}畢業
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

</body>
<app-footer></app-footer>
